<div>
    <h5> App:</h5>
  <div>
    
      <mat-form-field>
      <mat-select placeholder="Select your app " [formControl]="appControl" required>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let app of apps" [value]="app">
          {{app.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="appControl.hasError('required')">Please choose an app</mat-error>
      <mat-hint>{{appControl.value?.desc}}</mat-hint>
    </mat-form-field>
  </div>
  <h6>Date:</h6>
  <div>
    
    <mat-form-field>
      <input matInput [matDatepicker]="picker1" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput [matDatepicker]="picker2" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  </div>
  <div>
    <!-- <mat-error *ngIf="appControl.hasError('required')">Please choose an app</mat-error> -->
    <button class="btn btn-primary" [disabled]="appControl.hasError('required')" type="submit" (click)="onSubmit(appControl.value?.links)">Submit</button>
  </div>

  <div *ngIf="selected">
    <ul >
      <li *ngFor="let value of appControl.value?.links"><a (click)="callService();false" href="#">{{value}}</a></li>
    </ul>
  </div>
</div>
